<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emf_asso.bdd.reseauetudiantsmuslmansdefrance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_emflogo_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDAB">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProcessInscriptionActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity android:name=".UsermemberProfileActivity" />
        <activity
            android:name=".EmfNetworkActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserMemberProfilActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ProfilActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CursusListActivity"
            android:label="@string/title_cursus_list"
            android:theme="@style/AppThemeDAB" />
        <activity
            android:name=".AdminActivity"
            android:label="@string/Accueil_admin" />
        <activity
            android:name=".AdminCrudListActivity"
            android:label="@string/Accueil_admin" />
        <activity
            android:name=".SendMessageActivity"
            android:label="@string/Accueil_admin" />
        <activity
            android:name=".UpdateCursusListActivity"
            android:label="@string/Accueil_admin" />
        <activity
            android:name=".CursusDetailActivity"
            android:label="@string/title_cursus_detail"
            android:parentActivityName=".CursusListActivity"
            android:theme="@style/AppThemeDAB">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emf_asso.bdd.reseauetudiantsmuslmansdefrance.CursusListActivity" />
        </activity>
        <activity
            android:name=".LDFDetailActivity"
            android:label="@string/title_activity_ldfdetail"
            android:theme="@style/AppThemeDAB">

        </activity>
        <activity
            android:name=".AboutEmfActivity"
            android:label="@string/app_name" />
    </application>

</manifest>
