<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emf_asso.bdd.reseauetudiantsmuslmansdefrance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDAB">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProcessInscriptionActivity"
            android:label="@string/app_name" />
        <activity android:name=".UsermemberProfileActivity" />
        <activity android:name=".AboutEmfActivity" />
        <activity
            android:name=".EmfNetworkActivity"
            android:label="@string/app_name" />
        <activity android:name=".ProfilActivity" />

    </application>

</manifest>
